
h2 {

	font-family: 'Roboto', sans-serif;
	color: black;
}

p {

	font-family: 'Open Sans', sans-serif;
}

li {

	list-style-type: none;
	color: #FF8C94;
	margin-top: 6px;


}

li:Hover {

color: black;


}

.title h2 {

	font-size: 60px;
}

.title {

	margin-left: 230px;
	position: fixed;
	width: 360px;
	top: 47%;
	bottom: 47%;
	left: 0%;
	right: 0%;

}

.main-content {

	margin-top: 15px;
	margin-left: 630px;
	font-size: 30px;

}
