
h2 {
    font-family: 'Roboto', sans-serif;
    color: black;
}

p {
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style-type: none;
    color: #FF8C94;
    margin-top: 6px;
    cursor: pointer;
}

li:Hover {
    color: black;
}

button {
    border-radius: 10px;
    border: none;
    padding: 15px 30px;
    margin: 15px 30px;
    font-weight: 700;
    font-size: 20px;
    background-color: gray;
    color: white;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

button:Hover {
    opacity: 0.5;
    color: black;
}

button:active {
    opacity: 0;
    color: white;
}

code-form {
    width: 300px;
}

input {
    font-size: 20px;
    padding: 10px;
    background: transparent;
    outline: 0;
    border: 0;
    border-bottom: 2px solid black;
    width: 360px;
}

textarea {
    font-size: 20px;
    padding: 10px;
    border-color: black;
    border-width: 2px;
    margin-top: 35px;
    width: 360px;
    height: 120px;
}

.title h2 {
    font-size: 60px;
}

.title, .movement-section {

margin-top: 60%;

}

.main-content {

    font-size: 30px;
}

.main-content-icon {

}

.animated_top {
    top: 200px;
}

#searchbox {

    padding: 10px;
}

#error-output {
    color: red;
    font-weight: 500;
    font-size: 14px;
    font-family: arial;
}
